[data-ui-select-wrapper] {
  border: 1.2px solid var(--gray-200);
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

select[data-ui-select] {
  opacity: 1;
  cursor: inherit;
  appearance: none;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: var(--space-200) var(--space-300);
  outline: none;
  font-size: inherit;
  padding-right: var(--space-400);
}

[data-ui-select-icon] {
  position: absolute;
  top: 50%;
  right: var(--space-200);
  transform: translateY(-50%);
  pointer-events: none;
}

[data-ui-select-wrapper]:has([data-ui-select]:user-invalid),
[data-ui-select-wrapper]:has([data-ui-select][aria-invalid='true']) {
  border-color: var(--danger-500);
}
